#username {
  background-color: transparent;
  border: none;
  color: white;
}

#username::placeholder {
  background-color: red;
  color: white;
  padding: 3px;
}

.navbar-workspaces {
  min-width: 70px;
  background-color: #251c24;
  text-align: center;
}

.navbar-workspace-icon {
  color: #6c757d;
  line-height: 28px;
  font-size: 20px;
  width: 44px;
  margin: 10px auto;
  font-weight: bold;
  padding: 5px 0;
}

.navbar-workspace-icon:hover {
  color: white;
}

.navbar-user i,
.navbar-channel-item i {
  font-size: 0.9em;
  /*margin-right: 0.5em;*/
}

.navbar-channel-item:hover,
.navbar-user:hover {
  color: white;
  cursor: pointer;
}

.navbar-user i {
  font-size: 8px;
  vertical-align: center;
}

.navbar-user.online i {
  color: #1ee5bd;
}

.navbar-main {
  min-width: 250px;
  background-color: #4b3949;
  color: #a59ca4;
}

.navbar-main h3 {
  font-size: 16px;
}
